.xxx1{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
.margin{
    margin-top: 500px;
}